.example-card {
  width: 300px;
  overflow: hidden;
}

.clickable-card {
  cursor: pointer;
}

.recipe-image {
  height: 220px;
  object-fit: cover;
  display: block;
  width: 100%;
  border-radius: 4px 4px 0 0 !important;
}